html,
body,
#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes opacity--in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes helpers-height--in {
  from {
    height: 0;
  }
  to {
    height: 10;
  }
}
